<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eaw_texteditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <eaw_texteditor.Properties.Settings>
            <setting name="USR_LOADED_LANGUAGE" serializeAs="String">
                <value>ENGLISH</value>
            </setting>
            <setting name="USR_BASE_THEME" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="USR_ACCENT_COLOUR" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="USR_MASTER_LANGUAGE" serializeAs="String">
                <value>ENGLISH</value>
            </setting>
        </eaw_texteditor.Properties.Settings>
    </userSettings>
</configuration>
